@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  background: #FFFFFF;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.page-header {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  color: #000000;
  padding: 0 70px;
}

/* navigation */

.navigation-list {
  display: flex;
  list-style-type: none;
  min-width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.header-user-menu {
  display: flex;
  margin: 0;
}

 .search {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.header-user-item {
  list-style-type: none;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background: #756157;
  width: 160px;
  height: 36px;
  border-radius: 4px;
  border: none;
}

.button-reset {
  background-color: transparent;
}

.main-index {
  flex-grow: 1;
}

/* Hero */

.hero {
  display: flex;
  justify-content: center;
  background-color: #1D2C31;
  background-size: cover;
  background-position: center;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

/* main-inner */

.inner-catalog {
  display: block;
  background-color: #1D2D38;
  background-size: cover;
  background-position: center;
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
}

.inner-catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}



/* advantages */

.advantages-section {
  background-color: #FFFFFF;
}

/* flex */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item.advantages-item-extended {
  display: flex;
  width: 1200px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-text {
  padding: 112.5px 85px;;
}



.advantages-title, .advantages-icons-title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description, .advantages-icons-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;

  color: #333333;
}

.advantages-title-extended, .advantages-description-extended {
  color: #FFFFFF;
}

.advantages-item {
  list-style-type: none;
  background-color: #83B3D31F;
}

.advantages-item:nth-child(odd) {
  background: #83B3D333;
}

.advantages-item.advantages-item-extended {
  background: #82B3D3;
}

.advantages-icons-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.advantages-icons-images {
  margin: auto;
}

.advantages-icons-item {
  list-style-type: none;
  padding: 85px 81px;
}

.advantages-icons {
  text-align: center;
}

.advantages-icons-item:nth-child(odd) {
  background-color: #83B3D31F;
  display: block;
}

.hotel-search {
  text-align: center;
}


/* subscribe */

.subscribe {
  border-color: #50769D;
  background-image: url("../images/Subscribe.png");
  background-repeat: no-repeat;
  background-size: 100% auto;;
}

.subscribe-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.button-blue {
  background-color: #82B3D3;
}

.title-white, .subtitle-white {
  color: #FFFFFF;
}

/* footer */

.page-footer-contacts {
  display: flex;
  width: 1060px;
  justify-content: space-between;
}

.social-button-list {
  display: flex;
  list-style-type: none;
}

.social-button-item {
  width: 40px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

 .breadcrumbs {
  display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

 .breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.filter-filter {
  display: flex;
}

.catalog-filter-content {
  display: flex;
}

.catalog-filter {
  padding: 0 70px;
}

 .catalog-filter-group, .price-slider {
  border: none;
  margin: 0;
}

 .catalog-filter-title, .price-slider-title {
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   color: #FFFFFF;
}

 .catalog-filter-list {
  list-style-type: none;
}

 .control-input {
  font-size: 18px;
  line-height: 23px;
}

.select {
  display: flex;
  padding: 0 70px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.select-title {
  margin: 0;
  text-transform: uppercase;
}

.hotel-selection {
  display: flex;
}


.hotel-description {
  padding: 0 70px;
}

.hotel-description-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hotel-description-card {
  width: 340px;
  padding: 19px;
  border: 1px solid #E6E6E6;
}

.hotel-card-link {
   text-decoration: none;
}

.hotel-card-title {
color: #000000;
}

.button-more {
  text-decoration: none;
}

.button-favorit {
  background-color: #7DB54F;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;

  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  left: 160px;
  border-radius: 4px;
}

/* pagination */

.pagination {
  padding: 0 70px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item.pagination-item-points {
  background-color: transparent;
  padding-top: 16px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current {
  color: #000000;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  text-align: center;
  padding: 8px;
  margin-left: 8px;
}

.pagination-item-current {
  background-color: #F2F2F2;
  margin: 0;
}

/* pagination */

.subscribe.subscribe-catalog {
  background-image: non;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;

  width: 232px;
  height: 52px;
  border-radius: 0, 4px, 4px, 0;
}

.inner-catalog-home {
  padding: 0 70px;;
}
