@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  background: #F2F2F2;

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  background: #FFFFFF;
  color: #000000;
}

/* navigation */

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  max-width: 500px;
  margin: 0;
  padding: 0;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link {
  display: block;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.heart-qty {
  position: absolute;
  top: -17px;
  left: 30px;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 3px;
}

.heart-qty {
  position: relative;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756157;
  z-index: 1;
}

.breadcrumbs-link-hotels {
  padding-left: 28px;
}

.navigation-logo-link {
  display: block;
}

.logo {
  display: block;
  margin-bottom: -6px;
  position: relative;
  z-index: 2;
  margin-right: 28px;
}

.navigation-user-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  max-width: 300px;
  margin-left: auto;
}

 .search {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.navigation-user-item {
  list-style-type: none;
  padding-left: 2px;
}



.button {
  display: inline-block;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

.button-brown:hover,
.button-brown:focus-visible {
 background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: #9E9089;
}

.button-blue:hover,
.button-blue:focus-visible {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.button-favorit:hover,
.button-favorit:focus-visible {
  background-color: #68A2CA;
}

.button-favorit:active {
  background-color: #82B3D3;
  color: #A7CAE0;
}

.button-favorit-inside:hover,
.button-favorit-inside:focus-visible {
  background-color: #6C9E42;
}

.button-favorit-inside:active {
  background-color: #7DB54F;
  color: #A4CBB3;
}

.button-user {
  padding: 8px 34px;
  margin-left: 30px;
}

.button-reset {
  background-color: transparent;
}

.button-hotel-search {
  margin: 0;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.main-container {
  flex-grow: 1;
}

/* Hero */

.hero {
  background-color: #1D2C31;
  background-size: cover, contain;
  background-position: center bottom;
  background-image: url("../images/index-background-group.jpg");
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 84px;
}

.images-welcome {
  display: block;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto;
}

.title-advantages {
  margin-bottom: 27px;
  width: 620px;
}

.subtitle {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  width: 590px;
  margin: 0 auto;
}

.subtitle-advantages {
  margin-bottom: 90px;
  width: 652px;
}

/* main-inner */

.inner-catalog {
  display: block;
  background-color: #1D2D38;
  background-size: cover;
  background-position: center;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  padding: 0 70px;
  padding-top: 35px;
  padding-bottom: 70px;
  color: #ffffff;
}

.inner-catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

/* advantages */

.advantages-section {
  background-color: #FFFFFF;
  padding-top: 64px
}

/* flex */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item.advantages-item-extended {
  display: flex;
  width: 1200px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-text-extended {
  padding: 102px 85px;
}

.advantages-text {
  padding: 113px 85px;
}

.advantages-photo-1, .advantages-photo-2 {
  object-fit: fill;
}

.advantages-title {
  position: relative;
  margin: 0;
  padding-bottom: 62px;
}

.advantages-title::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.30);
  top: 85px;
  left: 56px;
}

.advantages-text-extended .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.30);
}


.advantages-description {
  margin: 0;
}

.advantages-title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  width: 182px;
  margin: 0 auto;
}

.advantages-icons-title {
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

}

.advantages-description, .advantages-icons-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0 auto;
}

.advantages-title-extended, .advantages-description-extended {
  color: #FFFFFF;
}

.advantages-item {
  list-style-type: none;
  background-color: #83B3D31F;
}

.advantages-item:nth-child(odd) {
  background: #83B3D333;
}

.advantages-item.advantages-item-extended {
  background: #82B3D3;
}

/* advantages-icons */

.title-advantages-icons {
  margin-bottom: 20px;
  width: 505px;
}

.subtitle-advantages-icons {
  margin-bottom:64px;
  width: 490px;
}

.advantages-icons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-icons-images {
  margin: auto;
}

.advantages-icons-item {
  width: 400px;
  padding-top: 184px;
  padding-bottom: 80px;
}

.advantages-icons {
  text-align: center;
  padding-top: 64px;
}

.advantages-icons-item:nth-child(odd) {
  background-color: #83B3D31F;
  display: block;
}

.icons-home {
  background-image: url(../images/icons-home.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.icons-food {
  background-image: url(../images/icons-food.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.icons-prize {
  background-image: url(../images/icons-prize.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.hotel-search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.title-hotel-search {
  margin-bottom: 20px;
}

.subtitle-hotel-search {
  width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

/* subscribe */

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 104px;
  background-color: #50769D;
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-subscribe {
  width: 475px;
  margin-bottom: 20px;
}

.subtitle-subscribe {
  width: 475px;
  margin-bottom: 54px;
}

.subscribe-field {
  width: 452px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.button-blue {
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.title-white, .subtitle-white {
  color: #FFFFFF;
}

/* footer */

.page-footer-contacts {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 35px;
}

.social-button-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  width: 47px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.social-button .social-button-icon {
 color: #83B3D3;
 ;
}

.social-button:hover .social-button-icon {
  color: #68A2CA;
}

.social-button:focus .social-button-icon {
  color: #68A2CA;
}

.social-button:active .social-button-icon {
  color: #68A2CA;
  opacity: 0.3;
}



.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-copyright-link .footer-copyright-icon {
  color: #000000;
}

.footer-copyright-link:hover .footer-copyright-icon {
  color: #756157;
}

.footer-copyright-link:focus .footer-copyright-icon {
  color: #756157;
}

.footer-copyright-link:active .footer-copyright-icon{
  color: #756157;
  opacity: 0.3;
}



 .breadcrumbs {
  display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
   padding-top: 8px;
}

 .breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.breadcrumbs-link-home {
  display: block;
  width: 12px;
  height: 21px;
  background-image: url(../images/catalog/home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  top: 6px;
  right: -19px;
  background-image: url(../images/catalog/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* section Filter */

.filter-filter {
  display: flex;
  /* width: 370px; */
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 73px;
}

.catalog-filter-content {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.catalog-filter-group {
  width: 150px;
}

.catalog-filter-group, .price-slider {
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 32px;
}

.catalog-filter-title, .price-slider-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  padding-bottom: 16px;
}

.control-label {
  padding-left: 36px;
  display: flex;
}

.control {
  position: relative;;
}

.control-input-check {
  display: block;
  appearance: none;
  margin: 0;
}

.control-input-check[type="checkbox"]:checked + .control-box-custom {
  background-image: url(../images/tick.svg);
}

.control-box-custom {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 4px;
}

.control-input-check[type="radio"] + .control-box-custom {
  border-radius: 50%;
}

.control-input-check[type="radio"]:checked + .control-box-custom::after {
  content: "";
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* .control-input {
  position: absolute;
  appearance: none;
} */

/* .control-label-size {
  margin-bottom: 36px;
  height: 48px;
} */

/* .control-range {
  opacity: 0.3;
  color: #000000;
  position: absolute;
  right: 20px;
  top: 14px;
} */

.control-input {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
  padding: 12px 20px;
  width: 143px;
  margin: 0;
}

/* .control-input-left {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.control-input-right {
  border-radius: 0 4px 4px 0;
} */



/* каталог сортировка */

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.select-title {
  width: 340px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: PT Sans;
  font-size: 18px;
  width: 292px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  color: #333333;
  margin-left: 115px;
  appearance: none;
  position: relative;
  background-image: url(../images/catalog/check-mark-select.svg);
  background-repeat: no-repeat;
  background-position: center right 20px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  border: 2px solid #82B3D3;
}

.select-button-list {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 8px;
}

.select-button-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  background-repeat: no-repeat;
  background-position: center;
}

.select-button-link-current {
  border-color: #000000;
}

.select-button-link-tile {
  background-image: url(../images/catalog/view-icon-tile.svg);
}

.select-button-link-slideshow {
  background-image: url(../images/catalog/view-icon-slideshow.svg);
}

.select-button-link-list {
  background-image: url(../images/catalog/view-icon-list.svg);
}

/* price-slider */

/* .price-slider {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  border: none;
  width: 288px;
  margin-left: auto;
}

.price-slider-title input {
  width: 140px;
}

 .price-slider-button {
  width: 160px;
}

.slider-full-size {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
}

.slider-range-size {
  position: absolute;
  height: 4px;
  width: 206px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 267px;
}

.slider {
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
}

.slider-left {
  left: 0;
  top: 2px;
  transform: translate(-50%, -50%);
}

.slider-right {
  right: 0;
  top: 2px;
  transform: translate(50%, -50%);
}
 */


.button-apply {
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
  border-radius: 4px;
}

/* flex catalog-cards*/
/* grid catalog-cards*/

.hotel-description {
  padding: 0 70px;
  padding-top: 20px;
}

.hotel-description-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 40px;
}

.hotel-description-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  padding: 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
   display: block;
   grid-column: 1/-1;
   line-height: 0;
   text-decoration: none;
   color: #000000;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-house {
  margin: 0;
  color: #333333;
}

.hotel-card-price {
  justify-self: end;
  margin: 0;
  color: #333333;
}

.button-more {
  text-decoration: none;
  padding: 8px 26px;
}

.button-favorit {
  padding: 8px 20px;
  background-color: #82B3D3;
  border: none;
}

.button-favorit-inside {
  padding: 8px 18px;
  background-color: #7DB54F;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 22px;
  background-color: #F2F2F2;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  margin: 0;
}

.hotel-card-stars {
  display: block;
  background-image: url(../images/star.svg);
  /* background-repeat: no-repeat; */
  background-repeat: space;
  width: 18px;
  height: 17px;
  margin: 0;
  align-self: center;
}

.stars-2 {
  width: 40px;
}

.stars-3 {
  width: 66px;
}

.stars-4 {
  width: 84px;
}

.stars-5 {
  width: 106px;
}


/* pagination */

.pagination {
  padding: 0 70px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item.pagination-item-points {
  background-color: transparent;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-current {
  color: #000000;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-item:not(.pagination-item-current):not(.pagination-item-points):hover {
  background: linear-gradient(0deg, #68A2CA, #68A2CA);
}

.pagination-link:not(.pagination-item-current):not(.pagination-item-points):active {
  color: #A7CAE0;
}

.pagination-item:not(.pagination-item-current):not(.pagination-item-points):focus {
  background: linear-gradient(0deg, #68A2CA, #68A2CA);
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item-current {
  background-color: #F2F2F2;
  margin: 0;
}

/* subscribe */

.main-inner .subscribe-catalog {
  background-image: none;
  background-color: #fff;
}

.subscribe-form {
  display: flex;
}
